<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>project1</string>
  <key>CFBundleName</key>
  <string>project1</string>
  <key>CFBundleIdentifier</key>
  <string>com.tweaking4all.SMJobBlessApp</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>proj</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CSResourcesFileMapped</key>
  <true/> 
   
  <key>SMPrivilegedExecutables</key>
  <dict>
    <key>com.tweaking4all.SMJobBlessHelper</key>
    <string>identifier &quot;com.tweaking4all.SMJobBlessHelper&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = XXXXXXXXXX</string>
  </dict>	
      
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
